# --- Telegram Bot API Details ---
# BotFather se mila hua token
BOT_TOKEN="YOUR_BOT_TOKEN" 

# My.telegram.org se mile hue API ID aur HASH
API_ID="YOUR_API_ID"
API_HASH="YOUR_API_HASH"

# --- Database & Control Channel ---
# MongoDB Atlas Connection URI
MONGO_URI="YOUR_MONGO_URI" 

# Admin/Control Channel ka ID. Link nahi, sirf ID. (Example: -100123456789)
# Bot ko is channel mein Admin banana zaroori hai.
ADMIN_CHANNEL_ID="-100XXXXXXXXXXXXXXXX" 

# Bot se group join karne wala account ka Session String. 
# Yeh account group verify karne ke liye istemal hoga.
# Session banane ka tarika main aage bataunga.
VERIFIER_SESSION="YOUR_VERIFIER_SESSION_STRING"
